/* Responsive */
@media screen and (max-width: 1600px) {
  section {
    margin: 0 5%;
    padding: 0;
  }
  .navbar {
    display: none;
  }
  #hamburger-navbar {
    display: block;
  }
  #hero-section {
    height: 100vh;
  }
  .hero-container {
    flex-direction: column;
    align-items: center;
    gap: 0;
    height: 80%;
  }
  .about-container {
    height: fit-content;
    flex-direction: column;
    gap: 0;
    height: 80%;
  }
  #about {
    height: max-content;
    margin-bottom: 4rem;
  }
  .hero-img {
    width: auto;
    height: 300px;
    margin: 0 0 2rem 0;
  }
  #experience {
    height: max-content;
    margin-bottom: 4rem;
  }
  .experience-container {
    margin-top: 2rem;
  }
  .experience-title {
    margin-bottom: 2rem;
  }
  .arrow {
    display: none;
  }
  .about-img {
    height: 275px;
    width: 275px;
  }
  #service {
    height: max-content;
    margin-bottom: 4rem;
  }
  .service-container {
    margin-top: 2rem;
  }
  #projects {
    height: max-content;
    margin-bottom: 4rem;
  }
  .project-container {
    margin-top: 2rem;
  }
  #footer {
    margin: 0 5%;
  }
  .nav-links ul {
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
  }
  .footer-social {
    flex-direction: column;
  }
  .footer-social a {
    font-size: 1rem;
    width: max-content;
  }
}

/* All Small devices */
@media screen and (max-width: 600px) {
  section {
    margin: 0 5%;
    padding: 0;
  }
  #hero-section {
    padding-top: 0;
    margin: 0;
  }
  .section-title h2 {
    font-size: 2rem;
  }
  .hero-img {
    width: auto;
    height: 50vw;
    margin: 0 0 2rem 0;
  }
  .hero-details-title {
    font-size: 1.8rem;
  }
  .hero-details-p2 {
    font-size: 1.2rem;
  }
  .btn {
    padding: 0.8rem;
  }
  .about-container {
    height: fit-content;
    flex-direction: column;
    gap: 0;
  }
  .details {
    width: 350px;
  }
  .about-img {
    height: 45vw;
    width: auto;
  }
  .experience-box-title h2 {
    font-size: 1.4rem;
  }
  #footer {
    margin: 0 5%;
  }
}
