/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General CSS */
* {
  padding: 0;
  margin: 0;
  transition: all 0.3s linear;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
section {
  padding-top: 4vh;
  margin: 0 10rem;
  height: 96vh;
  box-sizing: border-box;
  min-height: fit-content;
}

p {
  color: rgb(85, 85, 85);
}

a {
  text-decoration: none;
}

/* Animation */
.animation {
  opacity: 0;
  translate: -50%;
  transition: all 0.6s ease;
}
.animation.show {
  opacity: 1;
  translate: 0;
}

/* Headr-Sction */
#header-section {
  position: relative;
  z-index: 1;
}
.navbar,
.nav-links ul {
  display: flex;
}
.navbar {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}
.nav-links ul {
  gap: 3rem;
  list-style: none;
  font-size: 1.5rem;
}
.nav-links ul li a {
  text-decoration: none;
  color: black;
  text-decoration-color: white;
}
.nav-links ul li a:hover {
  text-decoration: underline;
  color: grey;
  text-decoration-color: rgb(181, 181, 181);
  text-underline-offset: 0.8rem;
}
.navbar .nav-logo a {
  font-size: 2rem;
  color: black;
  font-weight: 600;
}
.navbar .nav-logo a:hover {
  color: grey;
}
/* Hamburger Manu */
#hamburger-navbar {
  display: none;
}
.hamburger-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}
.hamburger-menu {
  position: relative;
  display: inline-block;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}
.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.menu-links a {
  display: block;
  padding: 10px;
  font-size: 1.5rem;
  color: black;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.menu-links li {
  list-style: none;
}
.menu-links.open {
  max-height: 300px;
}
.hamburger-logo a {
  font-size: 2rem;
  color: black;
}
.hamburger-logo a:hover {
  color: grey;
}
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

/* Hero-Section */
#hero-section {
  height: 80vh;
}
.hero-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 100%;
}
.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin: auto 0;
  overflow: hidden;
}
.hero-img img {
  width: 100%;
  height: 100%;
}
.hero-details {
  align-self: center;
  text-align: center;
}
.hero-details p {
  font-weight: 600;
}
.typewriter {
  display: flex;
}
.hero-details-p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  margin-inline: auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid rgb(85, 85, 85);
  animation: typing 5s steps(22) infinite, blink 1s step-end infinite;
}
.hero-details-title {
  font-size: 3rem;
  text-align: center;
}
.hero-btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.btn {
  width: 8rem;
  font-weight: 600;
  padding: 1rem;
  color: black;
  border: 0.1rem solid rgb(53, 53, 53);
  border-radius: 2rem;
  align-content: center;
  text-align: center;
}
.btn-1-clr {
  color: black;
  background-color: none;
}
.btn-2-clr {
  color: white;
  background-color: rgb(53, 53, 53);
}
.btn-1-clr:hover {
  color: white;
  background-color: rgb(53, 53, 53);
}
.btn-2-clr:hover {
  background-color: rgb(0, 0, 0);
}
.hero-socials {
  margin-top: 1rem;
}
.hero-socials i {
  font-size: 2rem;
  cursor: pointer;
}
.hero-socials i:first-child:hover {
  color: blue;
}
.hero-socials i:nth-child(2):hover {
  color: #ee2a7b;
}
.hero-socials i:last-child:hover {
  color: #4183c4;
}
/* Typing Animation */
@keyframes typing {
  25% {
    width: 0;
  }
  50% {
    width: 70%;
  }
  75% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* About-section */
#about {
  position: relative;
}
.about-title p {
  text-align: center;
}
.about-title h1 {
  font-size: 3rem;
  text-align: center;
}
.about-container {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 4rem;
}
.about-img {
  height: 400px;
  width: 400px;
  margin: auto 0;
}
.about-img img {
  height: 100%;
  border-radius: 2rem;
}
.details-contenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-block: 2rem;
}
.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 2rem;
  border: 0.1rem solid rgb(53, 53, 53);
}
.details img {
  height: 3rem;
  width: 3rem;
}
.details p {
  text-align: center;
}
.arrow {
  height: 2rem;
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
  cursor: pointer;
}

/* Experience-Section */
#experience {
  position: relative;
}
.experience-title p {
  text-align: center;
}
.experience-title h1 {
  text-align: center;
  font-size: 3rem;
}
.experience-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  gap: 2rem;
  height: 100%;
}
.experience-box {
  border: 0.1rem solid rgb(53, 53, 53);
  border-radius: 2rem;
  padding: 1.5rem;
  flex: 1;
}
.experience-box-title h2 {
  font-size: 1.75rem;
  color: rgb(85, 85, 85);
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}
.article-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2.5rem;
}
.article-box article {
  display: flex;
  gap: 1.5rem;
  width: 10rem;
}

.article-box img {
  height: 2rem;
}

/* Projects-Section */
#projects {
  position: relative;
  text-align: center;
}
.project-title h1 {
  font-size: 3rem;
}
.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.project-card {
  width: 25%;
  padding: 2rem;
  background-color: #fafafa;
  border: 0.1rem solid rgb(53, 53, 53);
  margin-block: 2rem;
  border-radius: 2rem;
}
.project-card img {
  height: auto;
  width: 100%;
  border-radius: 2rem;
}
.project-card h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-block: 1rem;
}
.card-btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.card-btn a {
  color: black;
  border: 0.1rem solid rgb(53, 53, 53);
  border-radius: 2rem;
  padding: 0.8rem;
  width: 6rem;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
}
.card-btn a:hover {
  background-color: rgb(53, 53, 53);
  color: #fff;
}

/* Contaact section */
.contact-title {
  text-align: center;
}
.contact-title h2 {
  font-size: 3rem;
}
.contact-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.contact-content input {
  outline: none;
  border: none;
  background: none;
  border-left: 4px solid #000;
  border-bottom: 4px solid #000;
  padding: 1rem;
  width: 60%;
}
.contact-content textarea {
  outline: none;
  border: none;
  background: none;
  border-left: 4px solid #000;
  border-bottom: 4px solid #000;
  padding: 1rem;
  width: 60%;
}
input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

/* Footer Section */
#footer {
  margin: 0 10rem;
  padding: 5rem 0;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.footer-social {
  display: flex;
  gap: 1rem;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 1.5rem;
  align-items: center;
}
.footer-social a {
  font-size: 1.2rem;
  color: black;
  border-bottom: 1px solid transparent;
}
.footer-social a i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.footer-social a:hover {
  color: grey;
  border-bottom: 1px solid rgb(181, 181, 181);
}
.footer-container p {
  text-align: center;
}
